<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="icon" href="fav.png" type="image/x-icon">
    
    <style>

        body {
            background-color: #dcc5ed;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-image: url("home.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
		.circular-btn1 {
			display: inline-block;
			padding: 10px;
			border-radius: 50%;
			background-color: #e2cd8ff5;
			color: #261c1c;
         font-weight: bold;
			text-align: center;
			text-decoration: none;
			border: none;
			cursor: pointer;
         position: relative;
         left: 800px;
         top: 60px;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}

        .circular-btn1:hover {
			background-color: #555;
		}

      .circular-btn2 {
			display: inline-block;
			padding: 10px;
			border-radius: 50%;
			background-color: #e2cd8ff5;
			color: #261c1c;
         font-weight: bold;
			text-align: center;
			text-decoration: none;
			border: none;
			cursor: pointer;
         position: relative;
         left: 920px;
         top: 80px;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
		}

        .circular-btn2:hover {
			background-color: #555;
		}

      .circular-btn3 {
			display: inline-block;
			padding: 10px;
			border-radius: 50%;
			background-color: #e2cd8ff5;
			color: #261c1c;
         font-weight: bold;
			text-align: center;
			text-decoration: none;
			border: none;
			cursor: pointer;
         position: relative;
         left: 1000px;
         top: 160px;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}

        .circular-btn3:hover {
			background-color: #555;
		}

      .circular-btn4 {
			display: inline-block;
			padding: 10px;
			border-radius: 50%;
         background-color: #e2cd8ff5;
			color: #261c1c;
         font-weight: bold;
			text-align: center;
			text-decoration: none;
			border: none;
			cursor: pointer;
         position: relative;
         left: 940px;
         top: 260px;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		}

        .circular-btn4:hover {
			background-color: #555;
		}

      .circular-btn5 {
			display: inline-block;
			padding: 10px;
			border-radius: 50%;
			background-color: #e2cd8ff5;
			color: #261c1c;
         font-weight: bold;
			text-align: center;
			text-decoration: none;
			border: none;
			cursor: pointer;
         position: relative;
         left: 800px;
         top: 280px;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
		}

        .circular-btn5:hover {
			background-color: #555;
		}
      
	</style>
    

     
</head>
<body>
   <h1>welcome</h1>
    <div id="home_panel" class="home" >
        <div id="first" class="circular-icon" >
   <form action="/users" method="get"><button class="circular-btn1">First api</button></form>
</div>
<div id="second"  >
   <form action="/phone" method="get"><button class="circular-btn2">second api</button></form>
</div>
<div id="third" class="circular-icon" >
   <form action="/last" method="get"><button class="circular-btn3">third api</button></form>
</div>
<div id="fourth" class="circular-icon" >
   <form action="/fourth" method="get"><button class="circular-btn4">fourth api</button></form>
</div>
<div id="fifth" class="circular-icon">
   <form action="/top" method="get"><button class="circular-btn5">fifth api</button></form>
</div>
</div>
</body>
</html>